/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
@import url(https://fonts.googleapis.com/css?family=Pacifico);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);    
    
@import url(https://fonts.googleapis.com/css?family=Satisfy);
    
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

body {
    background: #d6e1e5;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

a, span, div, table, th, tr, td, p, li, ol, ul, h1, h2, h3, h4, h5, h6, label{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    transition: 0.5s ease;
    color: #5e696d;
}
    

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.ico-topnav i {
    font-size: 1.5rem;
    /* margin-top: 0 !important; */
    line-height: 1;
    padding-right: 8px !important;
}

.logo img {
    width: 160px;
    padding-top: 7px;
}

.custom-topnav {
    height: 60px;
    background-color: #364347;
}

.ico-topnav a {
    height: 60px;
    padding-top: 12px !important;
    background: #364347 !important;
    text-transform: capitalize !important;
}


.ico-topnav a:hover {
    background: #f84545  !important;
}

a.a-oferta {
    background-color: #e96300 !important;
}

.separador-top {
    margin-top: 30px;
}

.input-buscatucomida input {
    font-size: 1.3rem;
    font-weight: 300 !important;
    height: 52px;
    box-shadow: none !important;
}

.input-buscatucomida {
    text-align: center;
}

.busca-tu-comida {
    font-size: 1.8rem;
    line-height: 70px !important;
    color: #93a4aa;
    font-weight: 300;
}

.botones-filtros li:hover {
    border: #f84545  solid 2px;
    /* background: #364347; */
    /* color: white; */
    font-weight: 300 !solid;
}

.botones-filtros li {
    border: 2px solid #b2c6cd;
    padding: 9px 8px;
    color: #5e696d;
}

ul.botones-filtros li:first-child {
    margin-left: 0;
}

.mapa iframe {
    border: none !important;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin-top: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: scale(1.05);
}

.card-img {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.card-title {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 300;
    border-bottom: 1px solid #5e696d   !important;
    font-size: 1.2rem;
    margin-bottom: 9px;
}

.card-desc {
    font-size: .9rem;
    text-transform: initial;
    /* padding-right: 53px; */
    padding-bottom: 7px;
}


.card-cover {
    height: 224px;
    width: 117px;
    background: grey;
}


.card-cover-small {
    height: 224px;
    width: 290px !important;
    background: grey;
}

    

.card-chilaquiles {
    background: url(../img/chilaquiles.jpg) no-repeat center center;
 background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.card-caldo {
    background: url(../img/caldo.jpg) no-repeat center center;
 background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.card-omelette {
    background: url(../img/omelette.jpg) no-repeat center center;
 background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.card-pechuga {
    background: url(../img/pechuga.jpg) no-repeat center center;
 background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}



.card-prof img {
    width: 46px;
    border-radius: 50%;
    float: right;
    margin-left: 11px;
}

.card-prof {
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 14px;
}

.rating-main {
    color: #F3BC66;
    font-size: 1.2em;
    /* padding-top: 44px; */
    float: right;
}

.nombre-main {
    display: block;
    font-size: .7rem;
    font-weight: 800;
}

.ico-subtitle {
    text-align: center;
    font-size: 4.5rem;
}

.cargando-resultados {
    padding: 0 !important;
}

.webTweek {
    width: 44% !important;
}

.lock-login {
    font-size: 4rem;
    /* padding-bottom: 1rem !important; */
}

.modal-inputs button {
    background-color: white !important;
    color: #02baf2;
    border: 2px solid #02baf2;
    font-size: .8rem;
}

.modal-inputs button:hover {
    background-color: #02baf2 !important;
    color: #ffffff;
}

.modal-inputs .btn-crear {
    color: #f84545;
    border: 2px solid #f84545;
}

.modal-inputs .btn-crear:hover {
    background-color: #f84545 !important;
    color: #ffffff;
}

.card-price {
    color: #e96300;
    font-size: 2.4rem;
}

.card-maxbck{
    height: 600px;
}

.card-maxbck {
    background: url(../img/chilaquiles.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-top: -105px;
    text-align: center;
    height: 500px;
}

.card-maxbck h1 {
    color: white;
    margin-top: 165px;
    font-weight: 300;
    font-size: 3rem;
    /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 6.4); */
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2;
}


/* ESTO ES PARA MOVILES */
.card-maxbck-small{
    height: 300px;
}

.card-maxbck-small {
    background: url(../img/chilaquiles.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    height: 500px;
}

.card-maxbck-small h1 {
    color: white;
    margin-top: 165px;
    font-weight: 300;
    font-size: 2rem;
    /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 6.4); */
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}


.btn-comprarahora {
    margin-top: 158px;
}

.btn-comprarahora {
    background-color: #f58410;
    font-weight: 300 !important;
}

.btn-comprarahora:hover {
    background-color: #e96300;
}

.descripcion{
    text-align: center;
}

.profile img{
    border-radius: 50%;
}

.profile h2{
    font-size: 1.5rem;
}

.listados li {
    list-style: none !important;
}

.desc-title {
    font-size: 1.2rem;
    /* padding-bottom: 1rem !important; */
    line-height: 3;
}

.listado-desc{
    text-align: center;
}

.listado-desc i {
    display: block;
    font-size: 1.9rem;
}

.footer {
    text-align: center;
    background-color: #f3bc65;
}

img.only-casera {
    width: 121px;
    margin-top: 2px;
    float: left;
}

dd.active a {
    background: #f84545 !important;
}

.adjust-price {
    font-size: 2rem;
    padding-left: 1rem;
    margin-top: -13px;
    margin-bottom: 13px;
}