<h1>Mis Comidas</h1>

<div class="row">
    <div class="large-12 columns card card-1" ng-repeat="food in foodList | filter:searchFood">
        <div class="large-3 medium-3 small-3 columns card-img card-cover card-caldo"></div>
        <div class="large-9 medium-9 columns card-title">
            <span class="">{{ food.name }}</span>
        </div>

        <div class="large-9 medium-9 columns card-desc">
            <h5>Ingredientes</h5>
            <ul>
                <li ng-repeat="ingredient in food.ingredient">
                    {{ ingredient.name }}
                </li>
            </ul>
        </div>

        <div class="large-9 medium-9 columns card-prof">
            <div class="rating-main">
                <i class="icons8-Star-2 rating-main" ng-repeat="r in [].constructor(food.rating) track by $index"></i>

            </div>
        </div>
    </div>
</div>