<div class="row">
<div class="large-12 medium-12 columns large-centered medium-centered separador-top input-buscatucomida">
<label>
    <span class="busca-tu-comida">busca tu comida</span>
        <input type="text" placeholder="¿Qué se te antoja comer hoy?" ng-model="searchFood"/>
      </label>
</div></div>



<div class="row">
    
    <div class="large-12 medium-12 columns ico-subtitle">
    <i class="icons8-Kitchen"></i>
    </div>
    
        <div class="large-7 medium-7 columns separador-top">
            
 <dl class="sub-nav show-for-small-only">
  <dd class="active"><a href="#">cerca</a></dd>
  <dd><a href="#">Tipo</a></dd>
  <dd><a href="#">Rating</a></dd>
</dl>  
            
            
<!-- de mediano para arriba -->            
    <ul class="inline-list show-for-medium-up botones-filtros">
        <li>Lo más cercano</li>
        <li>Tipo de comida</li>
        <li>por calificacion</li>
        
                </ul>
 
            
            <!-- empiezan las tarjetas -->
            
    <div class="large-12 columns card card-1" ng-repeat="food in foodList | filter:searchFood">
        
                <div class="large-3 medium-3 small-3 columns card-img card-cover-small show-for-small-only {{ food.picture }}"></div>
        
        
        <div class="large-3 medium-3 small-3 columns card-img card-cover show-for-medium-up {{ food.picture }}"></div>
        
        
        <div class="large-9 medium-9 columns card-title">
            <span class=""><a href="#/food/1">{{ food.name }}</a></span>
        </div>

        <div class="large-9 medium-9 columns card-desc">
            <span class="">{{ food.ingredients }}</span>
        </div>

        <div class="large-9 medium-9 columns card-prof">
            <span class="card-price left show-for-medium-up ">$20.00</span>  
            
<span class="card-price adjust-price left show-for-small-only">$20.00</span>
            <img src="../img/{{ food.pictureProfile }}" />
            <div class="rating-main">
                <span class="nombre-main">{{ food.nameProfile }}</span>
                <i class="icons8-Star-2 rating-main" ng-repeat="r in [].constructor(food.rating) track by $index"></i>

            </div>
        </div>
    </div>


            
    <div class="large-12 medium-12 columns separador-top cargando-resultados">    
    <ul class="inline-list botones-filtros">
        <li>cargando más resultados</li> 
        </ul></div>
    </div>

    
    <!-- empieza mapa -->
  <div class="large-5 medium-5 show-for-medium-up columns separador-top mapa">  
<iframe width="100%" height="750" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-116.62132143974304%2C31.85462316276793%2C-116.61449790000916%2C31.859926756055167&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/></div>

    <!-- empieza mapa small -->
  <div class="large-5 medium-5 show-for-small-only columns separador-top mapa">  
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-116.62132143974304%2C31.85462316276793%2C-116.61449790000916%2C31.859926756055167&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/></div>    
    
        </div>


            