<div id="signInModal" class="reveal-modal medium-6 columns small" small data-reveal>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1>Inicia Sesion</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <label for="email">Correo Electronico</label>
            <input name="email" type="email" id="email" placeholder="Ingresa Correo Electronico" />
        </div>
        <div class="small-12 large-12 columns">
            <label for="password">Contrasena</label>
            <input name="password" type="password" id="password" placeholder="Contrasena" />
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <a href="#" data-reveal-id="signUpModal" ng-click="openSignUp()">Crea una cuenta</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <button>Ingresar</button>
        </div>
        <div class="small-12 large-6 columns">
            <a href="#" data-reveal-id="signInModal" class="primary expand button" >Cerrar</a>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>