<!DOCTYPE html>
<html ng-app="our-app">
    <head>

        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="lib/foundation/css/foundation.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="fonts/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesom    e/4.4.0/css/font-awesome.min.css">

        <script type="text/javascript" src="lib/modernizr/modernizr.js"></script>
        <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/foundation/js/foundation.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="lib/angular-foundation/mm-foundation-tpls.min.js"></script>
        <script src="lib/fastclick/lib/fastclick.js"></script>
        <title>Casera ::comida de hogar::</title>
    </head>
    <body>
        

        <div class=" show-for-small-only">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name logo">
                    <h1><a href="#/"><img class="only-casera" src="img/only-casera.png"/></a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <!--<ul class="right">-->
                    <!--<li class="active"><a href="#">Right Button Active</a></li>-->
                    <!--<li class="has-dropdown">-->
                        <!--<a href="#">Right Button Dropdown</a>-->
                        <!--<ul class="dropdown">-->
                            <!--<li><a href="#">First link in dropdown</a></li>-->
                            <!--<li class="active"><a href="#">Active link in dropdown</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->

                <!-- Left Nav Section -->
                <ul class="right ico-topnav">
                    <li><a href="#/food"><i class="icons8-Star"></i>Más Vendido</a></li>
                    <li><a href="#/food"><i class="icons8-Money-Box"></i>Más Barato</a></li>
                    <li><a href="#/food" class="a-oferta"><i class="icons8-Gas"></i>Ofertas</a></li>
                    <li><a href="#/food"><i class="icons8-Idea"></i>Lo Ultimo</a></li>
                   
        <li><a data-reveal-id="modalvender" href="#" class="" ng-show="$root.currentUser"><i class="icons8-Money-Bag"></i>Vende tu comida</a></li>  
                    
<!-- MODAL WINDOW -->
             
   <div id="modalvender" class="reveal-modal modal-inputs full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
       
       <h1> <i class="icons8-Money-Bag lock-login"></i></h1>
        <input type="text" name="name" ng-model="food.name" placeholder="Por ejemplo: burritos, chilaquiles"/>
    
        <textarea name="ingredients" id="ingredients" ng-model="food.ingredients" placeholder="Que es lo que contiene tu comida?" rows="10"></textarea>
        <button ng-click="save(food)">Vender</button>
         <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
                    
                    
       
<!-- TERMINA MODAL WINDOW -->                    
                    
                    
                    <li ng-show="$root.currentUser == null"><a ng-controller="MainController" ng-click="open()"><i class="icons8-Lock"></i>Inicia Sesion</a></li>
                    <li ng-show="$root.currentUser"><a ng-controller="MainController" ng-click="openFood()">Vende tu comida</a></li>
                    <li ng-show="$root.currentUser" class="has-dropdown">
                        <a >{{ $root.currentUser.email }}</a>
                        <ul class="dropdown">
                            <li><a href="#/me/foods">Mis Comidas</a></li>
                            <li class="active" ng-controller="SignOutController" ng-click="signOut()"><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav></div>
        
        
        
        <div class="fixed show-for-medium-up">
        <nav class="top-bar custom-topnav" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name logo">
                    <h1><a href="#/"><img src="img/logo.png"/></a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <!--<ul class="right">-->
                    <!--<li class="active"><a href="#">Right Button Active</a></li>-->
                    <!--<li class="has-dropdown">-->
                        <!--<a href="#">Right Button Dropdown</a>-->
                        <!--<ul class="dropdown">-->
                            <!--<li><a href="#">First link in dropdown</a></li>-->
                            <!--<li class="active"><a href="#">Active link in dropdown</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->

                <!-- Left Nav Section -->
                <ul class="right ico-topnav">
                    <li><a href="#/food"><i class="icons8-Star"></i>Más Vendido</a></li>
                    <li><a href="#/food"><i class="icons8-Money-Box"></i>Más Barato</a></li>
                    <li><a href="#/food" ng-controller="OfferController" ng-click="openOffer()" class="a-oferta"><i class="icons8-Gas"></i>Ofertas</a></li>
                    <li><a href="#/food"><i class="icons8-Idea"></i>Lo Ultimo</a></li>
                   
        <li ng-show="$root.currentUser"><a ng-controller="MainController" ng-click="openFood()" class=""><i class="icons8-Money-Bag"></i>Vende tu comida</a></li>
                    
<!-- MODAL WINDOW -->
             
   <div id="modalvender" class="reveal-modal modal-inputs" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
       
       <h1> <i class="icons8-Money-Bag lock-login"></i></h1>
        <input type="text" name="name" ng-model="food.name" placeholder="Por ejemplo: burritos, chilaquiles"/>
    
        <textarea name="ingredients" ng-model="food.ingredients" placeholder="Que es lo que contiene tu comida?" rows="10"></textarea>
        <button ng-click="save(food)">Vender</button>
         <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
                    
                    
       
<!-- TERMINA MODAL WINDOW -->                    
                    
                    
                    <li ng-show="$root.currentUser == null"><a ng-controller="MainController" ng-click="open()"><i class="icons8-Lock"></i>Inicia Sesion</a></li>
                    <!--<li ng-show="$root.currentUser"><a ng-controller="MainController" ng-click="openFood()">Vende tu comida</a></li>-->
                    <li ng-show="$root.currentUser" class="has-dropdown">
                        <a >{{ $root.currentUser.email }}</a>
                        <ul class="dropdown">
                            <li><a href="#/me/foods">Mis Comidas</a></li>
                            <li class="active" ng-controller="SignOutController" ng-click="signOut()"><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav></div>

        <section class="container">
            <div class="container" ng-view></div>
        </section>

        

<div class="footer separador-top">
<img src="../../img/logo2.png">
</div>        
        
        

        <script type="text/ng-template" id="sign-in.html">

            <div class=" modal-inputs large-12 medium-12 columns">
                <div class="large-12 medium-12 columns">
                    <h1><i class="icons8-Lock lock-login"></i></h1>

                    <input name="email" type="text" id="email" ng-model="credentials.email" placeholder="Ingresa Correo Electronico" />

                    <input name="password" type="password" id="password" ng-model="credentials.password" placeholder="Contrasena" />

                    <button class="small" ng-click="login(credentials)">Ingresar</button>
                    <button class="small right btn-crear" ng-click="openSignUp()">Crea una cuenta</button>
                </div>
            </div>
            <a class="close-reveal-modal" ng-click="close()" aria-label="Close">&#215;</a>
        </script>

        <script type="text/ng-template" id="sign-up.html">
            <div class=" modal-inputs large-12 medium-12 columns">
                <div class="large-12 medium-12 columns">
                    <h1><i class="icons8-Add-User lock-login"></i></h1>

                    <input name="email" type="text" ng-model="credentials.email" placeholder="Ingresa Correo Electronico" />

                    <input name="password" type="password" ng-model="credentials.password" placeholder="Contrasena" />

                    <div class="small button" ng-click="signUp(credentials)">Crear</div>
                </div>
            </div>
            <a class="close-reveal-modal" ng-click="close()" aria-label="Close">&#215;</a>
        </script>

        <script type="text/ng-template" id="new-food.html">
            <h1> <i class="icons8-Money-Bag lock-login"></i></h1>
            <input type="text" name="name" ng-model="food.name" placeholder="Por ejemplo: burritos, chilaquiles"/>

            <textarea name="ingredients" ng-model="food.ingredients" placeholder="Que es lo que contiene tu comida?" rows="10"></textarea>
            <button ng-click="save(food)">Vender</button>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </script>

        <script src="js/app.js"></script>
        <script src="js/index.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            var deviceAgent = navigator.userAgent.toLowerCase();

            if(deviceAgent.match(/android/i) || deviceAgent.match(/iphone/i)){
                console.log('do nothing');
            } else {
                $('.reveal-modal').addClass('webTweek');
            }
        </script>
    </body>
</html>
