
   <div id="modalvender" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <input type="text" name="name" ng-model="food.name" placeholder="Por ejemplo: burritos, chilaquiles"/>
    
        <textarea name="ingredients" id="ingredients" ng-model="food.ingredients" placeholder="Que es lo que contiene tu comida?" rows="10"></textarea>
        <button ng-click="save(food)">Vender</button>
         <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

