<div class="large-12 columns card-maxbck show-for-medium-up">
    
    <button class=" radius large btn-comprarahora">Comprar ahora</button>
    
   <h1>chilaquiles en salsa verde</h1> 
</div>

<div class="large-12 columns card-maxbck-small show-for-small-only">
    
    <button class=" radius large btn-comprarahora">Comprar ahora</button>
    
   <h1>chilaquiles en salsa verde</h1> 
</div>

<div class="row">
        <div class="large-12 columns single-product descripcion profile separador-top">
    <img src="../../img/face1.jpg" />

            <h2 class="separador-top">Alejandra Gutierrez S.</h2>
            

    </div>
    
    <div class="large-6 medium-6 columns listados separador-top">
        <ul>
            <li><span class="desc-title">Descripción</span></li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </li>
            
        </ul>
            </div>
    
        <div class="large-6 medium-6 columns listados separador-top">
        <ul>
            <li><span class="desc-title  ">Caracteristicas</span></li>
            <ul class="inline-list listado-desc">
<li><i class="icons8-Chili-Pepper"></i>picante</li>
<li><i class="icons8-Milk-Bottle"></i>lactosa</li>
<li><i class="icons8-Cooker"></i>caliente</li>
<li><i class="icons8-Cookies"></i>postre</li>
            </ul>
            
        </ul>
            </div>
        </div>


